spring:
    application:
        name: oligarch-rating
    h2:
        console:
            enabled: true
            path: /h2-console
    datasource:
        url: jdbc:h2:mem:oligarchdb
        driver-class-name: org.h2.Driver
        username: user
        password: password
    jpa:
        hibernate:
            ddl-auto: update
        open-in-view: false